#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}


/******************             APP STYLE            *********************/
.app-form{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  display: block;
  justify-content:
}
/******************             NAVBAR STYLE            *********************/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 1rem;
  top: 0;
  width: 100%;
}

.navbar-brand a {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.navbar-menu {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-menu li {
  margin: 0 1rem;
}

.navbar-menu a {
  color: #fff;
  text-decoration: none;
}

.menu-icon {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    padding: 1rem;
  }

  .navbar-menu li {
    margin: 1rem 0;
  }

  .menu-icon {
    display: block;
  }

  #menu-toggle:checked + .navbar-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/******************             SIGN UP STYLE            *********************/
.signup-form{
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup-container{
  background-color: aqua;
  border-radius: 5px;
  padding: 50px;
}
.title{
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
  font-size: large;
}

.btn-submit{

}

/******************             FOOTER STYLE            *********************/
.footer {
  background-color: #000000;
  padding: 30px 0;
  font-size: 14px;
  color: #999;
  text-align: center;
  margin: 0;
  bottom: 0;
  position: fixed;
  width: 100%;
}

.social-icons {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

.social-icons li {
  display: inline-block;
  margin-right: 10px;
}

.social-icons li:last-child {
  margin-right: 0;
}

.social-icons a {
  display: inline-block;
  color: #999;
  font-size: 20px;
  padding: 5px;
  transition: color 0.2s;
}

.social-icons a:hover {
  color: #3b5998; /* Facebook blue */
}
